# JDB File

Purpose- To aggregate daily means of the all four readers (A, B ,C and D) in the Johns files and find whether there are any missing days

The actions and procedures outlined in this Python notebook are as follows:

1. convert all the files into datetime format
2. calculate  daily means and caliberate the four tempreture readers together
3. Checking whether there are any missing days between the earliest and latest dates to make sure all the readers align

In [4]:
pwd()

'C:\\Users\\samd7\\Downloads'

In [7]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

In [9]:
df_A = pd.read_excel('Series A.xlsx')
# Convert the 'Date' column to datetime format for time-based operations
df_A['Date'] = pd.to_datetime(df_A['Date'])
# Set the 'Date' column as the index of the dataframe for time series analysis
df_A.set_index('Date', inplace=True)
#the first few rows of the dataframe to inspect the result
df_A.head()

            Property      Time  Temperature
Date
2009-01-15        17  18:02:00      7.93505
2009-01-15        18  18:32:00      7.93974
2009-01-15        19  19:02:00      7.93348
2009-01-15        20  19:32:00      7.92566
2009-01-15        21  20:02:00      7.92254

In [10]:
df_B = pd.read_excel('Series B.xlsx')
df_B['Date'] = pd.to_datetime(df_B['Date'])
df_B.set_index('Date', inplace=True)
df_B.head()

            Property      Time  Temperature
Date
2009-01-15        17  18:01:00      7.91628
2009-01-15        18  18:31:00      7.92097
2009-01-15        19  19:01:00      7.91784
2009-01-15        20  19:31:00      7.91159
2009-01-15        21  20:01:00      7.90846

In [11]:
df_C = pd.read_excel('Series C.xlsx')
df_C['Date'] = pd.to_datetime(df_C['Date'])
df_C.set_index('Date', inplace=True)
df_C.head()

                Time  Temperature
Date
2016-10-15  13:31:00     12.66798
2016-10-15  14:01:00     12.72232
2016-10-15  14:31:00     12.72835
2016-10-15  15:01:00     12.68458
2016-10-15  15:31:00     12.61212

In [13]:
df_D = pd.read_excel('Series D.xls')
df_D['Date'] = pd.to_datetime(df_D['Date'])
df_D.set_index('Date', inplace=True)
df_D.head()

            Property      Time  Temperature
Date
2014-06-15         1  18:01:00     25.60425
2014-06-15         2  18:31:00     24.74056
2014-06-15         3  19:01:00     17.45481
2014-06-15         4  19:31:00     16.97423
2014-06-15         5  20:01:00     16.94595

In [14]:
# Create a list of dataframes representing different populations 
population_dataframes_JDB = [df_A, df_B, df_C, df_D] 
# Create an empty dataframe to store daily mean temperatures for each population
population_daily_mean_temperatures_JDB = pd.DataFrame()

# Iterate through each dataframe in the population_dataframes list
for df in population_dataframes_JDB:
    # Calculate the daily mean temperature by resampling the 'Temperature' column to daily frequency
    daily_mean_JDB = df['Temperature'].resample('D').mean() 
    # Concatenate the daily mean temperature series to the population_daily_mean_temperatures dataframe
    population_daily_mean_temperatures_JDB = pd.concat([population_daily_mean_temperatures_JDB, daily_mean_JDB], axis=1)
    
# Calculate the overall daily mean temperature for all populations and add it as a new column
population_daily_mean_temperatures_JDB['Population Mean'] = population_daily_mean_temperatures_JDB.mean(axis=1)
# Reset the index of the dataframe to have a clean index column
population_daily_mean_temperatures_JDB.reset_index(inplace=True)
#resulting dataframe containing daily mean temperatures for each population
population_daily_mean_temperatures_JDB.head()

,index,Temperature,Temperature,Temperature,Temperature,Population Mean
0,2009-01-15,7.911977,7.893988,NaN,NaN,7.902983
1,2009-01-16,8.264485,8.246459,NaN,NaN,8.255472
2,2009-01-17,8.679245,8.661384,NaN,NaN,8.670314
3,2009-01-18,7.780242,7.763765,NaN,NaN,7.772004
4,2009-01-19,6.784125,6.768368,NaN,NaN,6.776246

In [45]:


# Get the number of days
num_days = len(population_daily_mean_temperatures_JDB)

# Get the number of population mean values (excluding NaN)
num_population_means = population_daily_mean_temperatures_JDB['Population Mean'].count()

print("Number of Days:", num_days)
print("Number of Population Mean Values:", num_population_means)

Number of Days: 5273
Number of Population Mean Values: 5273

In [44]:


# Your code to create the DataFrame population_daily_mean_temperatures_JDB here

# Define the date range you want to check
start_date = pd.to_datetime('2009-01-15')
end_date = pd.to_datetime('2023-06-23')

# Create a date range within the specified range
expected_dates = pd.date_range(start=start_date, end=end_date)

# Get the existing dates in the DataFrame
existing_dates = population_daily_mean_temperatures_JDB['index']

# Find the missing dates (date gaps)
missing_dates = expected_dates[~expected_dates.isin(existing_dates)]

if missing_dates.empty:
    print("There are no date gaps between {} and {}.".format(start_date, end_date))
else:
    print("Date gaps found between {} and {}:".format(start_date, end_date))
    print(missing_dates)

There are no date gaps between 2009-01-15 00:00:00 and 2023-06-23 00:00:00.

In [47]:
# Check if there are missing values in the 'Population Mean' column
has_missing_values_in_population_mean = population_daily_mean_temperatures_JBD['Population Mean'].isnull().any()

if has_missing_values_in_population_mean:
    print("There are missing values")
else:
    print("There are no missing values")

There are no missing values